{% extends 'base.html' %} {% load static %}

{% block title %}Books{% endblock %}

{% block content %}

<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">{{title}}</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

        {% for book in books %}

        <div class="col d-flex align-items-start">
            <div>
                <a href="{% url 'book' book.id %}" class="nav-link text-black">
                    <h4 class="fw-bold mb-0">{{book.name}}</h4>
                    <div>
                        <strong>Author{% if book.authors.all.count > 1 %}s{% endif%}:</strong>
                        {% for author in book.authors.all %}
                        <em class="border-bottom">{{author.get_full_name}}{% if book.authors.all.last != author %},{% endif %}</em>
                        {% endfor %}
                        <p>{{book.description|truncatechars:60}}</p>
                    </div>
                </a>
            </div>
        </div>

        {% empty %}

        <h2 class="pb-2">Books list empty!</h2>

        {% endfor %}

    </div>
</div>

{% endblock content %}

