{% extends 'base.html' %} {% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="col-md-3 col-lg-3">
    <h2>{{title}}</h2>
</div>
<div class="col-md-2 col-lg-2">
    {% if title == 'Books' %}
    <a href="{% url 'unordered-books' %}" class="nav-link text-black">
        <i>
            <h6 style="color: grey;">Get Unordered Books</h6>
        </i>
    </a>
    {% else %}
    <a href="{% url 'book-list' %}" class="nav-link text-black">
        <i>
            <h6 style="color: grey;">Get All Books</h6>
        </i>
    </a>
    {% endif %}
</div>
<div class="col-md-1 col-lg-1">
    <a href="" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
        <svg class="bi mx-auto mb-1 align-middle" width="24" height="24">
            <use xlink:href="#additem"/>
        </svg>
        Add
    </a>
</div>
<div class="col-md-3 col-lg-3 justify-content-right">
    <form action="{{request.path}}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search book.." name="q">
            <div class="input-group-btn">
                <button class="btn btn-light" type="submit" style="border: 1px solid #ced4da;
                    border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    search
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-md-3 col-lg-3">
    <form class="needs-validation" action="{{request.path}}" method="get">
        <div class="row">
            <div class="col-md-3 text-end" style="padding: 0;">
                <label for="state" class="form-label">Sort by:</label>
            </div>
            <div class="col-md-9">
                <select class="form-select text-center" id="state" required="" onchange="this.form.submit()"
                        name="sort">
                    <option class="text-align-right" value="">--sort books--</option>
                    <option value="name" {% if request.session.sort == 'name' %}selected{% endif %}>
                          Name: a-z
                    </option>
                    <option value="-name" {% if request.session.sort == '-name' %}selected{% endif %}>
                          Name: z-a
                    </option>
                    <option value="count" {% if request.session.sort == 'count' %}selected{% endif %}>
                           Count: low to high
                    </option>
                    <option value="-count" {% if request.session.sort == '-count' %}selected{% endif %}>
                           Count: high to low
                    </option>
                </select>
            </div>
        </div>
    </form>
</div>
<hr class="my-1">
</div>

{% if books.has_other_pages %}

     {% include 'books_pagination.html' %}

{% endif %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">

    {% for book in books %}

    <div class="col d-flex align-items-start">
        <div>
            <a href="{% url 'book' book.id %}" class="nav-link text-black">
                <h4 class="fw-bold mb-0">{{book.name}}</h4>
                <div>
                    <strong>Author{% if book.authors.all.count > 1 %}s{% endif%}:</strong>
                    {% for author in book.authors.all %}
                    <em class="border-bottom">{{author.get_full_name}}
                        {% if book.authors.all.last != author %}
                        ,
                        {% endif %}
                    </em>
                    {% endfor %}
                    <p>{{book.description|truncatechars:60}}</p>
                </div>
            </a>
        </div>
    </div>

    {% empty %}

    <h2 class="pb-2" style="color: green;">Book list is empty!</h2>

    {% endfor %}

</div>

{% include 'book_modal_form.html' %}

{% endblock content %}

